<!--
 ruokin-vue is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 ruokin-vue is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with ruokin-vue. If not, see <https://www.gnu.org/licenses/>.
-->

<template>
  <div class="about">
    <h3>About me</h3>
    <p>
      Software Developer based on Brazil, enthusiat of functional programming as Emacs, Guile Scheme
      as a hobby.
    </p>
  </div>
</template>

<style>
@media (min-width: 1024px) {
  .about {
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
}
</style>
