<!--
 ruokin-vue is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 ruokin-vue is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with ruokin-vue. If not, see <https://www.gnu.org/licenses/>.
-->

<template>
  <h3>Welcome</h3>
  <div v-if="welcomeResponseData">
    <section id="home">
      <strong>data: {{ welcomeResponseData.data }}</strong>
      <br />
      <strong>message: {{ welcomeResponseData.message }}</strong>
    </section>
  </div>
  <div v-else-if="welcomeErrorMessage">
    <p>Error: {{ welcomeErrorMessage }}</p>
  </div>
  <div v-else>
    <p>Loading...</p>
  </div>

  <h5>Health</h5>
  <div v-if="healthResponseData">
    <section id="health">
      <strong>data: {{ healthResponseData.status }}</strong>
    </section>
  </div>
  <div v-else-if="healthErrorMessage">
    <p>Error: {{ healthErrorMessage }}</p>
  </div>
  <div v-else>
    <p>Loading...</p>
  </div>
</template>

<script setup lang="ts">
import { ref, onMounted } from 'vue'
import { getWelcome, getHealth } from '../services/welcome'

const welcomeResponseData = ref(null)
const welcomeErrorMessage = ref(null)

const Welcome = async () => {
  try {
    const response = await getWelcome()
    welcomeResponseData.value = response.data
  } catch (error) {
    if (error.response) {
      console.error('Server Error:', error.response.status, error.response.data)
    } else if (error.request) {
      console.error('No Response:', error.request)
    } else {
      console.error('Error:', error.message)
    }

    welcomeErrorMessage.value = error.message
  }
}

const healthResponseData = ref(null)
const healthErrorMessage = ref(null)

const Health = async () => {
  try {
    const response = await getHealth()
    healthResponseData.value = response.data
  } catch (error) {
    if (error.response) {
      console.error('Server Error:', error.response.status, error.response.data)
    } else if (error.request) {
      console.error('No Response:', error.request)
    } else {
      console.error('Error:', error.message)
    }

    HealthErrorMessage.value = error.message
  }
}

onMounted(() => {
  Welcome()
  Health()
})
</script>
